/*----------------- Fonts-----------------*/
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;400;500;600;700;800&display=swap');

/*----------------- Background Colors-----*/
body{
    background-color: #fbfbfb;
}
footer{
    background-color: #0062a1;
}

/*----------------- General-----------------*/
h1, h2, h3, h4, h5, h6{
    font-family: "Lexend", sans-serif;
}
/*----------------- Header-----------------*/
.name{
    text-align: center;
}
.slogan{
    text-align: center;
}
.list-inline-item a{
    text-decoration: none;
    color: #0062a1;
}
header{
    margin-bottom: 10px;
}

.logo{
    background-image: url(../images/logo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 160px;
}
/*--------- Benefits -------------*/
.benefit-left{
    text-align: left;
}
.benefit-right{
    text-align: right;
}

.benefit h2{
    text-align: center;
    color: #0062a1;
}

.benefit h3{
    color: #f3101f;
}

.meaning{
    background-color: #f3101f;
}
/*----------------- Cards-----------------*/
/*Card needs to be the same height and uniform throughout
.card{
    min-height: 210px;
} */
.card-row{
    margin-top: 10px;
    padding-top: 5px;
}
.head-tiger{
    background-color: rgba(255, 166, 0, 0.726);
    }
.head-juniors{
    background-color: #0063a1d0;
}
.head-seniors{
    background-color: #f3101fe5;
}
.head-ladies{
    background-color: rgba(255, 20, 147, .15);
}

.card-header{
    text-align: center;
    font-size: 20px;
    font-weight: 600
}

.card i{
    text-align: center;
    color: #0062a1;
    margin: 5px;
}

/*.card-img-top{}*/

/*----------------- Contact-Info-----------------*/
.contact-info{
    margin-top: 10px;
}
/*----------------- Footer-----------------*/
footer{
    margin-top: 10px;
    padding-top: 5px;
    text-align: center;
    color: #fbfbfb;
}
footer i{
    text-align: center;
    color: #fbfbfb;
    margin: 5px;
}
/*------------------- Classes-----------------*/
.class-heading{
    font-family: "Lexend", sans-serif;
    color: #0062a1;
}

.table{
    font-family: "Lexend", sans-serif;
    font-weight: lighter;
    font-size: 20px;
}
.table i{
    font-size: 30px;
}