/*----------------- Fonts-----------------*/
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;400;500;600;700;800&display=swap');

/*----------------- Background Colors-----*/
.nav_bg{
            background-color: #0062a1 !important;
        }
body{
    background-color: #fbfbfb;
}
footer{
    background-color: #0062a1;
}
/*----------------- General-----------------*/
h1, h2, h3, h4, h5, h6{
    font-family: "Lexend", sans-serif;
}

h2{
    color: #0062a1;
}
h3{
    color: #f3101f;
}
.row{
    margin-top: 10px;
}
/*----------------- Header-----------------*/
.name{
    text-align: center;
}

.slogan{
    text-align: center;
}

.margin-title{
    padding-top: 25px;
}

.nav-link{
    font-size: x-large;
    color:white !important;
}

header{
    margin-bottom: 10px;
    padding-bottom:50px;
}

.logo{
    background-image: url(../images/logo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 160px;
}
/*--------- Index -------------*/

.benefit-left{
    text-align: left;
}
.benefit-right{
    text-align: right;
}

.benefit h2{
    text-align: center;
}

.benefit h3{
    color: #f3101f;
}

.meaning{
    background-color: #f3101f;
    padding-top: 10px;
    height: 300px;
}

.langk{
    font-size: 35px;
    color: #2a2a2a;
}
.lange{
    color: #fbfbfb;
    font-size: 25px;
}
.translation{
    color: #2a2a2a;
    font-size: 20px;
}
.translation .lange{
    margin-left: 5px;
}
#why{
    padding-bottom: 50px;
}
    #map{
    max-height: 250px;
    max-width: 250px;
    border-radius: 2px;
}
.mapdetails{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
#classes{
    margin-top: 10px;
}

.imagequote{
    height: 150px;
    width: 150px;
    border: solid 3px #0062a1;
    border-radius: 50%;
}
.parent{
    color: #0062a1;
}
/*----------------- Cards-----------------*/
.card-row{
    margin-top: 10px;
    padding-top: 5px;
}
.head-tiger{
    background-color: rgba(255, 166, 0, 0.726);
    }
.head-juniors{
    background-color: #0063a1d0;
}
.head-seniors{
    background-color: #f3101fe5;
}
.head-ladies{
    background-color: rgba(255, 20, 147, .15);
}
.classcard{
    height: 475px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.card-header{
    text-align: center;
    font-size: 20px;
    font-weight: 600
}

.coach{
    height: 700px;
}
.coach h4{
    color: #f3101f;
}
.card i{
    text-align: center;
    color: #0062a1;
    margin: 5px;
}

.card-img-top{
    max-height: 150px;
}

.faq{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
/*----------------- Contact-Info-----------------*/

.contact-info-item{
margin-bottom: 20px;
display: block;
clear: both;
}

.contact-info-item .key, .contact-info-item .value{
padding-right: 8px;
display: inline-block;
}

.contact-info-item .key p, .contact-info-item .value p{
margin: 0;
}

.contact-info-item .key{
width: 30%;
margin-right: 21px;
padding-top: 2px;
vertical-align: top;
}

.contact-info-item .key p{
font-weight: 700;
}

.contact-info-item .value{
position: relative;
width: 60%;
}

/*----------------- Footer-----------------*/
footer{
    margin-top: 10px;
    padding-top: 5px;
    text-align: center;
    color: #fbfbfb;
}
footer i{
    text-align: center;
    color: #fbfbfb;
    margin: 5px;
}
/*------------------- Classes-----------------*/
/*.class-heading{
    font-family: "Lexend", sans-serif;
    color: #0062a1;
}*/

.table{
    font-family: "Lexend", sans-serif;
    font-weight: lighter;
    font-size: 20px;
}
.table i{
    font-size: 30px;
    color: #f3101f;
}

.classimage{
    height: 90%;
    width: 90%;
}

.coachcard{
    width: 150px;
    margin-top: 10px;
}

#class-outline{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.table{
    vertical-align: center;
}
/*------------------- Contact Page-----------------*/
.dobok{
    max-height: 200px;
    max-width: 200px;
    border-radius: 10%;
}